server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres-pedido:5432/pedidos
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest